//$base-color : #23657f !default;
$base-color : #664A5A !default;
$font-size  : 12px;


/****************************
 Styles TextField
 =================
*****************************/

$panel-body-background-color : #efefef;
