$color_base_boton  :  #04b69c;
$color_texto       :  #ffffff;


$button-default-base-color       : $color_base_boton;
$button-default-border-color     : $color_base_boton;
$button-toolbar-background-color : $color_base_boton;
$button-toolbar-border-color     : $color_base_boton;
$button-toolbar-color            : $color_texto;
$button-small-border-radius : 0;
$button-medium-border-radius : 0;
$button-large-border-radius : 0;
